@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>@TempData["aaa"]</h1>
<h2>@Context.Session.GetString("user")</h2>
<h3>测试</h3>


<script>
    if (document.getElementsByClassName('orange')[0].innerText != "0.0000%")  console.log("error");  
    var asdf = document.getElementsByClassName('orange')[1].innerText.substring(0, document.getElementsByClassName('orange')[1].innerText.length - 1);
    if (asdf >= 0.6 && asdf <= 1.2)   console.log("error");  
    if (document.getElementsByClassName('orange')[2].innerText.substring(0, document.getElementsByClassName('orange')[1].innerText.length - 1) > 0.00)  console.log("error");  
    if (document.getElementsByClassName('orange')[3].innerText != "100.00%") console.log("error");  
</script>
